
.header{
    display:flex;
    background-color: black;
    color:white;
    height:60px;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.trollface{
    height:30px;
    width:auto;
}